body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
p {
    padding: 10px;
    margin: 0px;
}
.first {
    background-color:#eeeeee;
    color:#666666;
    text-shadow: 1px 1px 0px #000000;
}
.second {
    background-color: #dddddd;
    color: #666666;
    text-shadow: 1px 1px 3px #666666;
}
.third {
    background-color: #cccccc;
    color: #ffffff;
    text-shadow: 2px 2px 7px #111111;
}
.fourth {
    background-color: #bbbbbb;
    color: #cccccc;
    text-shadow: -1px -2px #666666;
}
.fifth {
    background-color: #aaaaaa;
    color: #ffffff;
    text-shadow: -1px -1px #666666;
}