ul {
    width: 240px;
    height: 100px;
    padding: 20px;
    text-align: left;
}
li {
    padding: 3px;
}
ul.illuminations {
    list-style-position: outside;
}
ul.season {
    list-style-position: inside;
}